In [1]:
import pandas as pd
df = pd.read_csv("datasets/adult.data")

In [2]:
df.describe()

,age,fnlwgt,education-num,sex,capital-gain,capital-loss
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [3]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,Priv-hous-serv,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
#Question: Predict whether income >$50K/year?

#SMART Question: Does individual demographics (age, workclass, education, occupation, and race) correlate with income?

#Specific - Clearly define dataset and key variables. 
#Measurable - We will test to see if there is correlation between different variables to eliminate co-linearity. 
#Attainable - The question I am asking is feasiblity for dataset and is not a
#Reproducible - Yes, we are using consensus data from 1996, so we can replicate
#Time-bound - Yes this data is time-bound.