# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

C:\Users\elizabeth.xu\AppData\Local\Continuum\Anaconda2\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables

In [4]:
# frequency table for prestige and whether or not someone was admitted

pd.crosstab(df['admit'], df['prestige'], rownames=['admit'])

prestige  1.0  2.0  3.0  4.0
admit
0          28   95   93   55
1          33   53   28   12

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [5]:
df = df.join(pd.get_dummies(df['prestige']))
print df

     admit    gre   gpa  prestige  1.0  2.0  3.0  4.0
0        0  380.0  3.61       3.0    0    0    1    0
1        1  660.0  3.67       3.0    0    0    1    0
2        1  800.0  4.00       1.0    1    0    0    0
3        1  640.0  3.19       4.0    0    0    0    1
4        0  520.0  2.93       4.0    0    0    0    1
5        1  760.0  3.00       2.0    0    1    0    0
6        1  560.0  2.98       1.0    1    0    0    0
7        0  400.0  3.08       2.0    0    1    0    0
8        1  540.0  3.39       3.0    0    0    1    0
9        0  700.0  3.92       2.0    0    1    0    0
10       0  800.0  4.00       4.0    0    0    0    1
11       0  440.0  3.22       1.0    1    0    0    0
12       1  760.0  4.00       1.0    1    0    0    0
13       0  700.0  3.08       2.0    0    1    0    0
14       1  700.0  4.00       1.0    1    0    0    0
15       0  480.0  3.44       3.0    0    0    1    0
16       0  780.0  3.87       4.0    0    0    0    1
17       0  360.0  2.56       3.0    0    0    1    0
18       0  800.0  3.75       2.0    0    1    0    0
19       1  540.0  3.81       1.0    1    0    0    0
20       0  500.0  3.17       3.0    0    0    1    0
21       1  660.0  3.63       2.0    0    1    0    0
22       0  600.0  2.82       4.0    0    0    0    1
23       0  680.0  3.19       4.0    0    0    0    1
24       1  760.0  3.35       2.0    0    1    0    0
25       1  800.0  3.66       1.0    1    0    0    0
26       1  620.0  3.61       1.0    1    0    0    0
27       1  520.0  3.74       4.0    0    0    0    1
28       1  780.0  3.22       2.0    0    1    0    0
29       0  520.0  3.29       1.0    1    0    0    0
..     ...    ...   ...       ...  ...  ...  ...  ...
370      1  540.0  3.77       2.0    0    1    0    0
371      1  680.0  3.76       3.0    0    0    1    0
372      1  680.0  2.42       1.0    1    0    0    0
373      1  620.0  3.37       1.0    1    0    0    0
374      0  560.0  3.78       2.0    0    1    0    0
375      0  560.0  3.49       4.0    0    0    0    1
376      0  620.0  3.63       2.0    0    1    0    0
377      1  800.0  4.00       2.0    0    1    0    0
378      0  640.0  3.12       3.0    0    0    1    0
379      0  540.0  2.70       2.0    0    1    0    0
380      0  700.0  3.65       2.0    0    1    0    0
381      1  540.0  3.49       2.0    0    1    0    0
382      0  540.0  3.51       2.0    0    1    0    0
383      0  660.0  4.00       1.0    1    0    0    0
384      1  480.0  2.62       2.0    0    1    0    0
385      0  420.0  3.02       1.0    1    0    0    0
386      1  740.0  3.86       2.0    0    1    0    0
387      0  580.0  3.36       2.0    0    1    0    0
388      0  640.0  3.17       2.0    0    1    0    0
389      0  640.0  3.51       2.0    0    1    0    0
390      1  800.0  3.05       2.0    0    1    0    0
391      1  660.0  3.88       2.0    0    1    0    0
392      1  600.0  3.38       3.0    0    0    1    0
393      1  620.0  3.75       2.0    0    1    0    0
394      1  460.0  3.99       3.0    0    0    1    0
395      0  620.0  4.00       2.0    0    1    0    0
396      0  560.0  3.04       3.0    0    0    1    0
397      0  460.0  2.63       2.0    0    1    0    0
398      0  700.0  3.65       2.0    0    1    0    0
399      0  600.0  3.89       3.0    0    0    1    0

[397 rows x 8 columns]

#### 2.2 When modeling our class variables, how many do we need?

Answer: 3, since there are a total of 4 options for prestige

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [6]:
#crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted

In [7]:
df.count()

admit       397
gre         397
gpa         397
prestige    397
1.0         397
2.0         397
3.0         397
4.0         397
dtype: int64

In [8]:
df.sum()

admit          126.00
gre         233380.00
gpa           1346.72
prestige       988.00
1.0             61.00
2.0            148.00
3.0            121.00
4.0             67.00
dtype: float64

In [9]:
df.groupby('admit').sum()

            gre     gpa  prestige  1.0  2.0  3.0  4.0
admit
0      155440.0  907.08     717.0   28   95   93   55
1       77940.0  439.64     271.0   33   53   28   12

In [10]:
#1: 33:28
#2: 53:95
#3: 28:93
#4: 12:55

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [11]:
#If you attended a #1 prestige college, your odds are 33 to 28

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [12]:
#If you attended a #1 prestige college, your odds are (53+28+12) to (95+93+55) or 93 to 243

#### 3.3 Calculate the odds ratio

In [13]:
#1: 33:28
#2: 53:95
#3: 28:93
#4: 12:55

#### 3.4 Write this finding in a sentenance:

#Answer: The Odds ratio descreases as one's college prestige decreases.

#### 3.5 Print the cross tab for prestige_4

In [14]:
pd.crosstab(df['admit'], df[4.0], rownames=['admit'])

4.0      0   1
admit
0      216  55
1      114  12

#### 3.6 Calculate the OR

In [15]:
#What is OR, if it's pdd ratio, then it is 12 to 55.

#### 3.7 Write this finding in a sentence

#Answer: Ignoring GPA and GMAT, the odds of getting accepted from a prestige 4 school is 12 to 55.

## Part 4. Analysis

In [27]:
# create a clean data frame for the regression
df_clean = df.dropna() 
print df_clean.head()

   admit    gre   gpa  prestige  1.0  2.0  3.0  4.0
0      0  380.0  3.61       3.0    0    0    1    0
1      1  660.0  3.67       3.0    0    0    1    0
2      1  800.0  4.00       1.0    1    0    0    0
3      1  640.0  3.19       4.0    0    0    0    1
4      0  520.0  2.93       4.0    0    0    0    1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [31]:
# manually add the intercept
X = df_clean[['gre', 'gpa', 1.0, 2.0, 3.0, 4.0]]
X = sm.add_constant(X)
y = df_clean['admit']

#### 4.1 Set the covariates to a variable called train_cols

In [32]:
train_cols = df_clean.columns[1:]

#### 4.2 Fit the model

In [33]:
lm = sm.Logit(df_clean['admit'], df_clean[train_cols])
#lm = sm.Logit(y, X)

#### 4.3 Print the summary results

In [34]:
result = lm.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Wed, 27 Sep 2017   Pseudo R-squ.:                 0.08166
Time:                        19:13:26   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
gre            0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa            0.7793      0.333      2.344      0.019       0.128       1.431
prestige      -1.6245        nan        nan        nan         nan         nan
1.0           -2.2524        nan        nan        nan         nan         nan
2.0           -1.3081        nan        nan        nan         nan         nan
3.0           -0.3421        nan        nan        nan         nan         nan
4.0            1.0676        nan        nan        nan         nan         nan
==============================================================================
"""

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [35]:
print np.exp(result.params)

gre         1.002221
gpa         2.180027
prestige    0.197017
1.0         0.105148
2.0         0.270345
3.0         0.710257
4.0         2.908407
dtype: float64

In [36]:
params = result.params
conf = result.conf_int()
conf['OR'] = params
conf.columns = ['2.5%', '97.5%', 'OR']
print np.exp(conf)

              2.5%     97.5%        OR
gre       1.000074  1.004372  1.002221
gpa       1.136120  4.183113  2.180027
prestige       NaN       NaN  0.197017
1.0            NaN       NaN  0.105148
2.0            NaN       NaN  0.270345
3.0            NaN       NaN  0.710257
4.0            NaN       NaN  2.908407

#### 4.5 Interpret the OR of Prestige_2

Answer:The OR of Prestige_2 is 0.476607. The OR tells you how a 1 unit increase or decrease in a variable affects the odds of being admitted. The odds of being admitted to decrease by about 50% if the prestige of a school is 2.

#### 4.6 Interpret the OR of GPA

Answer: The OR of GPA is 2.180027. This OR tells you there is an 200% increase or decrease to the odds of being admitted.

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [37]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [38]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(df_clean['gre'].min(), df_clean['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(df_clean['gpa'].min(), df_clean['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

#### 5.1 Recreate the dummy variables

In [39]:
# recreate the dummy variables
combos.columns = ['gre', 'gpa', 'prestige', 'intercept']
dummy_ranks = pd.get_dummies(combos['prestige'], prefix='prestige')
dummy_ranks.columns = ['prestige_1', 'prestige_2', 'prestige_3', 'prestige_4']

# keep only what we need for making predictions
cols_to_keep = ['gre', 'gpa', 'prestige', 'intercept']
combos = combos[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_2':])

C:\Users\elizabeth.xu\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

#### 5.2 Make predictions on the enumerated dataset

In [40]:
combos = result.predict(combos[train_cols])
print combos.head()

KeyError: "Index([1.0, 2.0, 3.0, 4.0], dtype='object') not in index"

In [45]:
print combos.head()

     gre       gpa  prestige  intercept  prestige_2  prestige_3  prestige_4
0  220.0  2.260000       1.0        1.0           0           0           0
1  220.0  2.260000       2.0        1.0           1           0           0
2  220.0  2.260000       3.0        1.0           0           1           0
3  220.0  2.260000       4.0        1.0           0           0           1
4  220.0  2.453333       1.0        1.0           0           0           0

#### 5.3 Interpret findings for the last 4 observations

Answer:

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.